/* Common Style */
body{
    font-family:'Quattrocento Sans'
}

/* LOGO */
header .logo{
    width:  170px;
    position: fixed;
    left: 50%;
    margin-left: -710px;
    bottom: 800px;
}

/* UMINORAKAEAMONO */
.umi{
    width: 1270px;
    height: 530px;
    margin: 298px auto 230px;
    position: relative;
}

.umi h1{
    width: 54px;
    height: 54px;
    font-family: 'Lora', serif;
    font-size: 65px;
    position: relative;
    top: 0px;
    left: 198px;
    z-index: 2;
}

.chaku_umi{
    width: 674px;
    height: 456px;
    position: relative;
    top: -20px;
    left: 121px;
    z-index: 1;
}

.umi h2{
    font-size: 18px;
    transform: rotate(-90deg );
    letter-spacing: 1.5px;
    position: absolute;
    top: 100px;
    left: 714px;
}

.umi p{
    font-family: "fot-tsukubrdgothic-std";
    font-size: 13px;
    line-height: 1.6;
    width: 263px;
    height: 123px;
    position: absolute;
    top: 330px;
    left: 715px;
    z-index: 3;
}

.umi1{
    width: 160px;
    height: 332px;
    position: absolute;
    top: -111px;
    left: 901px;
}

.umi2{
    width: 202px;
    height: 325px;
    position: absolute;
    top: 200px;
    left: 1063px;
}

/* OUTOTU */
.outotu{
    width: 1270px;
    height: 670px;
    position: relative;
    margin: 0 auto 290px;
}

/* .outotu h1{
    width: 54px;
    height: 54px;
    font-family: 'Lora', serif;
    font-size: 65px;
    position: relative;
    top: 0px;
    left: 795px;
    z-index: 2;
} */

.svg2{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 6;
    left: 800px;
    z-index: 2;
}

.outotu h2{
    font-size: 18px;
    transform: rotate(-90deg );
    letter-spacing: 1.5px;
    position: absolute;
    top: 94px;
    left: 659px;
}

.chaku_outotu{
    width: 393px;
    height: 588px;
    position: absolute;
    top: 30px;
    right: 130px;
    z-index: 1;
}

.outotu p{
    font-family: "fot-tsukubrdgothic-std";
    font-size: 13px;
    line-height: 1.6;
    width: 263px;
    height: 90px;
    position: absolute;
    top: 480px;
    left: 586px;
    z-index: 2;
}

.outotu1{
    width: 187px;
    height: 323px;
    position: absolute;
    top: -27px;
    left: 423px;
}

.outotu2{
    width: 203px;
    height: 321px;
    position: absolute;
    top: 375px;
    left: 228px;
}

.taiyou{
    width: 1270px;
    height: 550px;
    position: relative;
    margin: 0 auto 350px;
}

.taiyou h1{
    width: 54px;
    height: 54px;
    font-family: 'Lora', serif;
    font-size: 65px;
    position: relative;
    top: 0px;
    left: 295px;
    z-index: 2;
}

.taiyou h2{
    font-size: 18px;
    transform: rotate(-90deg );
    letter-spacing: 1.5px;
    position: absolute;
    top: 156px;
    left: 696px;
}

.chaku_taiyou{
    width: 588px;
    height: 393px;
    position: absolute;
    top: 32px;
    left: 228px;
}

.taiyou p{
    font-family: "fot-tsukubrdgothic-std";
    font-size: 13px;
    line-height: 1.6;
    width: 292px;
    height: 189px;
    position: absolute;
    top: 404px;
    left: 796px;
}

.taiyou1{
    width: 200px;
    height: 474px;
    position: absolute;
    top: -220px;
    left: 978px;
}

/* AOIROAKAIRO */
.aoiroakairo{
    width: 1270px;
    height: 725px;
    position: relative;
    margin: 0 auto 340px;
}

.aoiroakairo h1{
    width: 54px;
    height: 54px;
    font-family: 'Lora', serif;
    font-size: 65px;
    position: relative;
    top: 0px;
    left: 588px;
    z-index: 2;
}

.aoiroakairo h2{
    font-size: 18px;
    transform: rotate(-90deg );
    letter-spacing: 1.5px;
    position: absolute;
    top: 180px;
    left: 354px;
}

.chaku_aoaka{
    width: 684px;
    height: 587px;
    position: absolute;
    top: 38px;
    left: 520px;
}

.aoiroakairo p{
    font-family: "fot-tsukubrdgothic-std";
    font-size: 13px;
    line-height: 1.6;
    width: 292px;
    height: 110px;
    position: absolute;
    top: 530px;
    left: 423px;
    z-index: 2;
}

.aoaka1{
    width: 208px;
    height: 352px;
    position: absolute;
    top: -100px;
    left: 130px;
}

.aoaka2{
    width: 263px;
    height: 369px;
    position: absolute;
    top: 360px;
    left: 148px;
}

/* MIZUSHIBUKI */
.mizushibuki{
    width: 1270px;
    height: 600px;
    position: relative;
    margin: 0 auto 200px;
}

.mizushibuki h1{
    width: 54px;
    height: 54px;
    font-family: 'Lora', serif;
    font-size: 65px;
    position: relative;
    top: 0px;
    left: 72px;
    z-index: 2;
}

.mizushibuki h2{
    font-size: 18px;
    transform: rotate(-90deg );
    letter-spacing: 1.5px;
    position: absolute;
    top: 174px;
    left: 650px;
}

.chaku_mizushibuki{
    width: 784px;
    height: 523px;
    position: absolute;
    top: 32px;
    height: 130px;
}

.mizushibuki p{
    font-family: "fot-tsukubrdgothic-std";
    font-size: 13px;
    line-height: 1.6;
    width: 300px;
    height: 90px;
    position: absolute;
    top: 515px;
    left: 674px;
}

.white{
    color: #fff;
}

.mizushibuki1{
    width: 240px;
    height: 365px;
    position: absolute;
    top: -300px;
    left: 1008px;
}

/* arrow */
/* .arrow{
    width: 1270px;
    height: 190px;
    margin: 0 auto 111px;
    position: relative;
} */

.arrow div{
    width: 50px;
    height: 20px;
    position: fixed;
    left: 50%;
    margin-left: -660px;
    bottom: 700px;
    z-index: 3;
}

.arrow p{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 8px;
    position: fixed;
    left: 50%;
    margin-left: -660px;
    bottom: 730px;
}
